rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // broad rule for development - allow auth users all access
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
